/* Estilo base para todos os cards */
    .card4 {    
      background: #0000008b;
      border: 1px solid #ffffff;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 25px;
      width: 415px;
    }

    .card4 h2 {
      background: #0000009f;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      font-family: 'VT323', monospace;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      margin-bottom: 15px;
      user-select: none;
    }

    /* Estilo das seções nos cards */
    .section4 label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }

    .section4 label span {
      margin-bottom: 4px;
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
    }

    /* Textareas */
    .section4 label textarea {
      background: #0000008b;
      border: 1px solid #ffffff44;
      color: #ffffff;
      font-size: 23px;
      padding: 6px 6px;
      resize: none;
      min-height: 1em;
      overflow: hidden;
      text-align: center;
      width: 65%;
      font-family: 'VT323', monospace;
      border-bottom: 1px solid #ffffff;
    }

    .section4 label textarea:focus {
      outline: 1px solid #ffffff;
      background-color: #000000ba;
    }